<cruisecontrol>
    <project name="connectfour">

        <listeners>
            <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>

        <bootstrappers>
            <antbootstrapper anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml" target="clean" />
        </bootstrappers>

        <modificationset quietperiod="30">
            <!-- touch any file in connectfour project to trigger a build -->
            <filesystem folder="projects/${project.name}"/>
        </modificationset>

        <schedule interval="300">
            <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
        </schedule>

        <log>
            <merge dir="projects/${project.name}/target/test-results"/>
        </log>

        <publishers>
            <onsuccess>
                <artifactspublisher dest="artifacts/${project.name}" file="projects/${project.name}/target/${project.name}.jar"/>
            </onsuccess>
        </publishers>

      </project>

      <project name="scrum"  buildafterfailed="false">
        <listeners>
          <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>
        <modificationset>
          <svn localWorkingCopy="projects/${project.name}/source" username="verber" password="svnpass"/>
        </modificationset>
        <bootstrappers>
          <svnbootstrapper localWorkingCopy="projects/${project.name}/source" username="verber" password="svnpass"/>
        </bootstrappers>
        <schedule interval="1800">
          <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml"/>
        </schedule>
        <log dir="logs/${project.name}">
          <merge dir="projects/${project.name}/build/logs/"/>
        </log>
        <publishers>
          <currentbuildstatuspublisher file="logs/${project.name}/buildstatus.txt"/>
          <artifactspublisher dir="projects/${project.name}/build/api" dest="artifacts/${project.name}" subdirectory="api"/>
          <artifactspublisher dir="projects/${project.name}/build/coverage" dest="artifacts/${project.name}" subdirectory="coverage"/>
          <execute command="phpuc graph logs/${project.name} artifacts/${project.name}" />
         </publishers>
       </project>

       <project name="tdd_workshop"  buildafterfailed="false">
         <plugin name="svn" classname="net.sourceforge.cruisecontrol.sourcecontrols.SVN" /> 
        <listeners>
          <currentbuildstatuslistener file="logs/${project.name}/status.txt"/>
        </listeners>
        <modificationset>
          <svn localWorkingCopy="projects/${project.name}/source" username="verber" password="svnpass"/>
        </modificationset>
        <bootstrappers>
          <svnbootstrapper localWorkingCopy="projects/${project.name}/source" username="verber" password="svnpass"/>
        </bootstrappers>
        <schedule interval="1800">
          <ant anthome="apache-ant-1.7.0" buildfile="projects/${project.name}/build.xml" usequiet="true" uselogger="false" showAntOutput="false"/>
        </schedule>
        <log dir="logs/${project.name}">
          <merge dir="projects/${project.name}/build/logs/"/>
        </log>
        <publishers>
          <!--currentbuildstatuspublisher file="logs/${project.name}/buildstatus.txt"/-->
          <artifactspublisher dir="projects/${project.name}/build/api" dest="artifacts/${project.name}" subdirectory="api"/>
          <artifactspublisher dir="projects/${project.name}/build/coverage" dest="artifacts/${project.name}" subdirectory="coverage"/>
          <execute command="phpuc graph logs/${project.name} artifacts/${project.name}" />
         </publishers>
      </project>

</cruisecontrol>